.grid-button{
    width:29%;
    padding-top:29%;
    background:red;
    display:inline-block;
    border-radius:10px;
}

@media only screen and (min-width: 601px){
    .grid-button{
        width:19%;
        padding-top: 19%;
        background:orange;
    }
}

@media only screen and (min-width: 993px){
    .grid-button{
        width:9%;
        padding-top: 9%;
        background:green;
    }
}
