.bg-green {
    background: green
}
.bg-purple{
  background: purple
}
.bg-blue{
    background:blue;
}
.text-green{
  color: green;
}

#dj-pad{
    margin:0 auto;
    width:300px;
}

@media only screen and (min-width: 601px){
    #dj-pad{
        width:500px;
    }
}

@media only screen and (min-width: 993px){
    #dj-pad{
        width:800px;

    }
}
